---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Expertise from '../components/Expertise.astro';
import Updates from '../components/Updates.astro';
import SocialLinks from '../components/SocialLinks.astro';
---

<Layout title="Nicolaj G. Schmit - ML Engineer and Databricks Expert">
    <Navigation />
    <main>
        <Header />
        <About />
        <SocialLinks />
        <Updates />
        <Experience />
        <Education />
        <Expertise />
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 2rem;
        width: 800px;
        max-width: calc(100% - 2rem);
    }
</style>